.home-container {
  width: 100%;
  overflow-x: hidden;
  background-color: #151515;
  color: #EAEAEA;
}

.main-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 24px;
}

.hero-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 400px;
  margin-bottom: 64px;
  gap: 48px;

  .hero-button {
    background-color: #FFB300;
    color: #191919;
    font-weight: 600;
    padding: 12px 28px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .hero-button:hover {
    background-color: #fcc138;
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(248, 211, 48, 0.3);
  }

  .hero-button:focus {
    box-shadow: 0 8px 12px rgba(241, 232, 189, 0.3);
  }
}

@media (max-width: 768px) {
  .hero-section {
    flex-direction: column;
  }
}



.hero-content {
  flex: 1;
}

.hero-content h1 {
  font-size: 2.5rem;
  margin-bottom: 16px;
}

.hero-image {
  flex: 1;
  min-height: 300px;
  border-radius: 8px;
}

.features-section {
  margin-bottom: 64px;
}

.features-section h2 {
  text-align: center;
  margin-bottom: 32px;
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 24px;
}

.feature-card {
  height: 100%;
  background: linear-gradient(135deg, #6A44E0 0%, #6B5CB3 100%);
  box-shadow: 0 4px 20px rgba(106, 68, 224, 0.2);
}

.cta-section {
  text-align: center;
  padding: 50px 0 64px;
  margin-bottom: 3rem;
  background: linear-gradient(180deg, rgba(106, 68, 224, 0.3) 0%, rgba(106, 68, 224, 0.1) 100%);
  border-radius: 8px;
}

.cta-section h2 {
  margin-bottom: 16px;
}

.cta-section p {
  margin-bottom: 24px;
}

.cta-grid {
  margin:  1rem 1rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 24px;
}

.cta-card {
  text-align: left;
  height: 100%;
  color: #EAEAEA;
}

.free-tier {
  background-color: #8976D9;
  border: 1px solid rgba(255, 255, 255, 0.1);
  .buy-button {
    background-color: #FFB300;
    color: #191919;
    font-weight: 600;
    padding: 12px 28px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .buy-button:hover {
    background-color: #fcc138;
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(248, 211, 48, 0.3);
  }
}

.pro-tier {
  background-color: #6A5ACD;
  border: 3px solid #4FD1C5;

  .buy-button {
    background-color: #FFB300;
    color: #191919;
    font-weight: 600;
    padding: 12px 28px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .buy-button:hover {
    background-color: #fcc138;
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(248, 211, 48, 0.3);
  }
}

.elite-tier {
  background-color: #5E35B1;
  border: 1px solid rgba(255, 255, 255, 0.1);

  .buy-button {
    background-color: #FFB300;
    color: #191919;
    font-weight: 600;
    padding: 12px 28px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .buy-button:hover {
    background-color: #fcc138;
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(248, 211, 48, 0.3);
  }
}




