<div class="page-wrapper">
<app-header></app-header>

<div class="sign-up-container">
  <!-- Main content area -->
  <main class="main-content">
    <!-- Sign-up section -->
    <section class="sign-up-section">
      <div class="sign-up-content">
        <div class="header-container">
          <h1>Create Your Account</h1>
        </div>
        <div class="generate-account-num-container">
          <div class="generate-acct-num-content">
            <mat-form-field>
              <mat-label>Generate Account Number</mat-label>
              <input matInput placeholder="Generate account number"
                [formControl]="generatedAccountNumControl"
                class="generate-input" required>

              <mat-error
                *ngIf="generatedAccountNumControl.errors?.['required'] && generatedAccountNumControl.touched">
                Account Number is required.
              </mat-error>
            </mat-form-field>
            <button mat-raised-button class="generate-button">Generate</button>
            <button mat-raised-button class="copy-button">Copy</button>
          </div>
        </div>
        <mat-form-field>
          <mat-label>Enter your password</mat-label>
          <input matInput placeholder="Enter your password"
            [formControl]="enterPasswordControl" required>
          <mat-error *ngIf="enterPasswordControl.errors?.['minlength']">Minimum
            12 characters required.</mat-error>
          <mat-error *ngIf="enterPasswordControl.errors?.['pattern']">Must
            include upper, lower, number, and symbol.</mat-error>
          <mat-error
            *ngIf="enterPasswordControl.errors?.['required'] && enterPasswordControl.touched">
            Password is required.
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Confirm your password</mat-label>
          <input matInput placeholder="Confirm your password"
            [formControl]="confirmPasswordControl" required>
          <mat-error
            *ngIf="confirmPasswordControl.errors?.['minlength']"></mat-error>
          <mat-error *ngIf="confirmPasswordControl.errors?.['pattern']">Must
            include upper, lower, number, and symbol.</mat-error>
          <mat-error
            *ngIf="confirmPasswordControl.errors?.['required'] && confirmPasswordControl.touched">
            Password is required.
          </mat-error>
        </mat-form-field>
        <button mat-raised-button class="sign-up-button">Log in</button>
      </div>
    </section>
  </main>
</div>

<app-footer></app-footer>
</div>
