.page-wrapper {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  background-color: #151515;
}

.sidenav-container {
  min-width: 200px;
  max-width: 300px;
  background-color: #2c2c2e;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidenav-image-container {
  height: 150px;
  width: 150px;
  border-radius: 8px;

  img {
    max-width: 100%;
    height: auto;
  }
}

.sidenav-tab-container {
   display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #EAEAEA;

  width: 100%;

  a:-webkit-any-link {
    color: #EAEAEA;
    cursor: pointer;
    text-decoration: none;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 20px;
    margin: 5px 0px;

    mat-icon {
      margin-right: 10px;
      color: #EAEAEA;
    }
  }
}

.dashboard-container {
  width: 100%;
  overflow-x: hidden;
  background-color: #151515;
  color: #EAEAEA;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
