<div class="page-wrapper">

  <div class="sidenav-container">
    <div class="sidenav-image-container">
      <img
        alt="Company logo depicting a purple cloud with a lock in the center of it"
        src="../../../assets/images/PFCS_Logo.png">
    </div>
    <div class="sidenav-tab-container">
      <a href="#">
        <mat-icon>file_present</mat-icon> My Files
      </a>
      <a href="#">
        <mat-icon>upload</mat-icon> Upload
      </a>
      <a href="#">
        <mat-icon>star</mat-icon> Favorites
      </a>
      <a href="#">
        <mat-icon>delete</mat-icon> Trash
      </a>
      <a href="#">
        <mat-icon>lock</mat-icon> Vault
      </a>
    </div>
    <div class="sidenav-storage-amount-container">
      <div class="storage-amount-label-container">
        <div>{{ storageAmountInGB }} GB</div>
        <div>/ 50 GB</div>
      </div>
      <div class="storage-amount-bar-container">
        <div class="storage-amount-bar" [ngStyle]="{'width': storageAmountPercentage + '%'}"></div>
      </div>
    </div>
  </div>

  <div class="dashboard-container">

  </div>

</div>
